.container {
  padding-top: 10vh;
}

@media (max-width: 800px) {
  .container {
    margin: 0 0 0 0;
  }
}

.title {
  font-size: 2rem;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3vh;
}
.grid :hover {
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  margin: 1vw;
  height: 50px;
}

.logo {
  color: yellow;
  height: 100%;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.siteName {
  color: #091e42;
  line-height: 50px;
  margin: 0 1vw;
}

