.container {
    margin: 0 150px 0 250p;
    @media (max-width: 800px) {  
        margin: 0 0 0 0;
    }
    padding-top: 10vh;
}

.title {
    font-size: 2rem;
    margin: 3vh 0 10vh 35vw;
    @media (max-width: 800px) {  
        margin-left: 0;
        text-align: center;
    }
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vh;; 
    :hover{
        cursor: pointer;
    }  
}

$iconSize: 50px;

.button {
    display: flex;
    flex-direction: row;
    // background-color: green;
    margin: 1vw;
    height: $iconSize;
}

.logo {
    color: yellow;
    height: 100%;
    border-radius: 10px;
    height: $iconSize;
    width: $iconSize;
    background-size: contain;
    background-repeat: no-repeat;
}
.siteName {
    color: #091E42;
    line-height: $iconSize;
    margin: 0 1vw;
}

.linkedInLogo {
    background-image: url('../../media/socialMedia/linkedin.png');
}
.stackoverflowLogo{
    background-image: url('../../media/socialMedia/stackoverflow.png');
}
.blog {
    background-image: url('../../media/socialMedia/blog.png');
}
.twitter {
    background-image: url('../../media/socialMedia/twitter.png');
}
.medium {
    background-image: url('../../media/socialMedia/medium.png');
}
.github {
    background-image: url('../../media/socialMedia/github.png');
}
.youtube {
    background-image: url('../../media/socialMedia/youtube.png');
}