.resume {
  background-image: url('../../media/usefulLinks/resume.png');
  background-position: 7px 0px;
}

.email {
  background-image: url('../../media/usefulLinks/e-mail.png');
}

.certifications {
  background-image: url('../../media/usefulLinks/certifications.png');
}

.linkedInLogo {
  background-image: url('../../media/socialMedia/linkedin.png');
}

.stackoverflowLogo {
  background-image: url('../../media/socialMedia/stackoverflow.png');
}

.blog {
  background-image: url('../../media/socialMedia/blog.png');
}

.twitter {
  background-image: url('../../media/socialMedia/twitter.png');
}

.medium {
  background-image: url('../../media/socialMedia/medium.png');
}

.github {
  background-image: url('../../media/socialMedia/github.png');
}

.youtube {
  background-image: url('../../media/socialMedia/youtube.png');
}

.container {
  padding-top: 10vh;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3vh;
}
.grid :hover {
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  margin: 1vw;
  height: 50px;
}

.logo {
  color: yellow;

  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.siteName {
  color: #091e42;
  line-height: 50px;
  margin: 0 1vw;
}
